<div class="w-full h-full flex flex-col absolute bg-green-500">
    <p class="text-emerald-800 font-light text-center">Transaksi Masuk</p>
    <div class="flex flex-col justify-center align-center h-full bg-red-500 p-2">


  <form id="formIncome">
    
    <div class="flex flex-col gap-4 p-2">
      <input type="date" class="w-28"/>
      <input
        type="text"
        placeholder="Keterangan"
        class="border-solid border-2 border-emerald-800 w-4/5 px-2 mr-2 rounded-md"
      />
      <input
        type="number"
        id="inputan"
        placeholder="Masukan angka"
        class="border-solid border-2 border-emerald-800 w-4/5 px-2 mr-2 rounded-md"
      />
    </div>
    <div class="flex justify-center">
<button
      type="submit"
      id="btnSubmit"
      class="flex justify-center h-10 p-2 bg-green-600 hover:bg-green-800 rounded text-white"
    >
      Submit
    </button>
    </div>
    
  </form>
      </div>
</div>
