
    <div class="m-4 ">
        <div class="bg-red-300 h-20 rounded-md px-2 py-1">
            <p class="text-red-600 font-light">Transaksi Keluar</p>
            <div class="flex h-8 mt-1">
                <input
                    type="number"
                    id="inputankeluar"
                    placeholder="Masukan angka"
                    class="w-12 h-10 border-solid border-2 border-red-400 w-4/5 px-2 mr-2 rounded-md">
                    <button
                        type="submit"
                        id="btnkeluar"
                        class="h-10 p-2 bg-red-500 hover:bg-red-700 rounded text-white">Pengeluaran</button>
                </div>
            </div>
        </div>