// warna dasar
$primary-color: #fff;
$second-color: #3B82F6;

// warna tambahan
$text-color: #030303;
$shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.13);

//style
$border-radius10: 10px;
$border-radius30: 30px;
